.idea
vendor/*
data/*
files/*
conf/*
build/*
log/*
/go.sum
/build/
/data/
/files/
/log/
/nginx/
/control
/build.sh
/benchmark.py
/docker-compose/
/Dockerfile
/gofastdfs.service
/Makefile
/gofastdfs-test/leveldb/fileserver.db/
/doc/
